* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    padding: 5px;
    background-color: #070e1b;
    color: white;
    align-items: center !important;
    align-content: center !important;
}

.DS {
    display: flex;
    flex-direction: row;
    align-items: center;
     color: white !important;
     font-size: 25px !important;
     font-family: 'Times New Roman', Times, serif;
}

.AS {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-right: 8px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #070e1b;
}

.nav-items{
    color: white !important;
    font-size: 20px !important;
    font-family: 'Times New Roman', Times, serif;
}
.fgd{
    justify-content: center !important;
}
.img1{
    width: 20px;
    height: 20px;
}
header{
    background-color: #070e1b;
}
.yomi,.para,.yom{
    color: white;
}
.yomi{
    font-size: 4rem;
    font-weight: 700;
    width: 100px;
}
.para{
    font-size: 20px;
    /* text-align: center; */
    /* margin-top: 20px; */
    width: 350px;
}
.yom{
    font-size: 30px;
    /* text-align: center; */
    /* margin-top: 20px; */
    width: 150px;
}
.btn1,.btn2{
    background-color: #ffffff;
    color: #070e1b;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
}
.df{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    /* margin-left: 50px; */
    margin-top: 20px;
}
main{
    background-color:#0a101e;
}
.ct{
    color: #fec544;
    text-decoration: underline;
}
.info,.prof{
    color: white;
}
.prof{
    width: 350px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color:#fec544;
}
.full-info{
    width: 400px;
    color: gray;
}
.full{
    color: gray;
}
.fd{
    color: #fec544;
    text-decoration: underline;
}
.img4{
    align-items: center !important;
    justify-content: center !important;
    height: 200px;
    width: 200px;
}
.info1{
    width: 500px;
    color: white;
}
.sd{
    color: white;
}
.full1{
    color: white;
}
.full-info1{
    color: white;
}
.SDI{
    color: black !important;
text-decoration: none !important;
}